@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.warning-marquee {
  background-color: #ff5722; /* Yellowish background color */
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  top: 0px;
  left: 0;
  width: 98.3vw;
  text-align: center;
  z-index: 1000;
}

/* Full-width Navbar */
.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  left: 0;
  width: 98.3vw; /* Ensure it spans the full width */
  background-color: #004264;
  padding: 10px 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Container for navbar content */
.navbar-container {
  display: flex;
  position:sticky;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Work Sans';
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-menu {
  list-style: none;
  font-family: 'Work Sans', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  padding:0;
  gap: 20px;
}
.navbar-logo:hover {
  color: #ff9800;
}
.navbar-item {
  padding: 10px;
  display: inline-block;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ff9800;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}


/* Hero Section */

.hero {
  height: 650px; 
  display: flex;
  background-color: #004264;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

/* Prevents overlap with navbar */
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif,medium;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Hero text section */
.hero-text {
  width: 50%;
  color: aliceblue;
  flex: 1;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1s ease-in-out forwards;
}

  .hero-text .highlight-name{
  font-size: 4rem;
  font-family: 'Work Sans', sans-serif, medium;
  font-weight: bold;
  }

  .hero-text .hero-roles {
    font-size: 1.4rem;
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif;
  }

.hero-summary {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  color: #bbb;
}

.highlight-name {
  color: #ff9800;
  
  font-family: 'Work Sans', sans-serif;
}

/* Hero image */
.hero-image {
  flex: 1;
  text-align: center;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

/* Keyframe animations */
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    order: 2;
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .hero-image {
    order: 1;
    margin-bottom: 20px;
  }

  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #003652;
    flex-direction: column;
    display: none;
    text-align: center;
    padding: 10px 0;
    align-items: center;
  }
  .navbar-menu li {
      margin: 0 15px;
  }
    .navbar-menu.active {
      display: flex;
    }
  .navbar-item {
    padding: 15px 0;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styled button */
.cta-button {
  background-color: #ff9800;
  align-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif,medium;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-transform: uppercase;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

  /* Hover effect */
  .cta-button:hover {
    background-color: #e68900;
    transform: scale(1.05);
  }

/* Optional: Center button */
.button-container {
  text-align: center;
}

/* Experience Section Styling */
.experience-section {
  padding: 60px 10%;
  font-family: 'Work Sans', sans-serif;
  background-color: #002a42;
  color: aliceblue;
}

  .experience-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

.experience-card {
  background: #004264;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.company {
  color: #ff9800;
  font-size: 1.4rem;
  font-weight: bold;
}

  .experience-card h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #ff9800;
  }

.role {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ddd;
}

.date {
  font-size: 1rem;
  color: #ccc;
  margin: 8px;
}

.experience-card ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-left: 25px;
  margin:5px;
}

.experience-card li {
  font-size: 1.2rem;
  line-height: 1.6;
}
.skills-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill {
  background: #ff9800;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 0.97rem;
  display: inline-block;
}
/******Project Styles Sections********/
.projects-section {
  padding: 50px 20px;
  background-color: #004264;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: aliceblue;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.project {
  background: #002a42;
  border-radius: 10px;
  width:100%;
  padding: 20px;
  align-items:center;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff9800;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
  padding:10px;
}

  .project-description ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .project-description li {
    margin-bottom: 8px;
  }

  .project-description strong {
    font-weight: bold;
  }

.project-key-insights {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
  padding: 10px;
}

  .project-key-insights ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .project-key-insights li {
    margin-bottom: 8px;
  }

  .project-key-insights strong {
    font-weight: bold;
  }


.project-tools-used {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
  padding: 10px;
}

  .project-tools-used ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .project-tools-used li {
    margin-bottom: 8px;
  }

  .project-tools-used strong {
    font-weight: bold;
  }

@media (max-width: 768px) {
  .projects-section {
    padding: 30px 15px;
  }

  .project-title {
    font-size: 1.6rem;
  }

  .project-description {
    font-size: 1rem;
  }
  .project-key-insights {
    font-size: 1rem;
  }
  .project-tools-used {
    font-size: 1rem;
  }
}
/*****Contact Section Styles*****/
.contact-section {
  padding: 50px;
  background-color: #002a42;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: aliceblue;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #004264;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:aliceblue;
  }

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

  .input-container label {
    font-size: 1.2rem;
    margin-bottom: 8px;
    display: block;
    font-family: 'Poppins', sans-serif;
  }

  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
  }

  .input-container textarea {
    height: 150px;
    resize: none;
    
  }

    .input-container input::placeholder,
    .input-container textarea::placeholder {
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
      color: #888;
    }

.submit-button {
  background-color: #ff9800;
  color: #fff;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Custom Alert Style */
.custom-alert {
  display: none; /* Initially hidden */
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  text-align: center;
}

  .custom-alert .alert-content {
    display: flex;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
  }

  .custom-alert button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.1rem;
  }

    .custom-alert button:hover {
      background-color: #ff5722;
    }
.footer {
  background-color: #ff9800;
  color: white;
  text-align: center;
  padding: 10px;
  width: 98.3vw;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #004264;
    opacity: 0;
    text-align: center;
  }

    .navbar-menu.active {
      display: flex;
      left:0;
      opacity:1;
    }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .hero {
    flex-direction: column;
    text-align: left;
    padding: 20px;
    height:650px;
  }

  .hero-text {
    width: 100%;
    text-align: left;
    margin-top:50px;
    padding: 15px;
  }


  .hero-text .highlight-name {
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif, medium;
    font-weight: bold;
  }
  .hero-text .hero-roles {
    font-size: 1rem;
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif, medium;
    font-weight: bold;
  }
  .hero-title {
    font-size: small;
  }

  .hero-description {
    font-size: 1rem;
    padding: 0 10px;
    
  }

  .hero-image {
    max-height: 250px;
    width: 100%;
    text-align: center;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }

  .hero-summary {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .experience-container, .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card, .experience-block {
    width: 90%;
    margin-bottom: 20px;
  }

  .input-container {
    width: 100%;
  }

  input, textarea {
    font-size: 1rem;
  }

  .submit-button {
    width: 100%;
  }

  .footer {
    font-size: 0.9rem;
    text-align: center;
    width:518px;
    padding: 10px;
  }
}
